.todoBox {
  border: 1px solid slategray;
  height: 30px;
  width: 100%;
  display: flex;
}

.todoBox input {
  width: 80%;
  height: 100%;
  font-size: 15px;
  padding-left: 1em;
  color: darkslategray;
  border: 1px solid slategray;
}

.todoBox button {
  width: 20%;
  font-size: 15px; 
  border: 1px solid slategray;
  color: darkslategray;
}